### PostgreSQl
DB_HOST='localhost' # Hostname ou IP address do servidor PostgreSQL
DB_USER='user' # Username para o servidor PostgreSQL
DB_PASS='pass' # Senha para o servidor PostgreSQL
DB_NAME='db_name'  # Nome do banco de dados PostgreSQL
DB_PORT=5432 # Porta do servidor PostgreSQL

### Redis
REDIS_HOST=localhost # Hostname ou IP address do servidor Redis
REDIS_PORT=6379 # Porta do servidor Redis
#REDIS_USER= # Usuário para o servidor Redis (opcional)
#REDIS_PASSWORD= # Senha para o servidor Redis (opcional)
REDIS_DB=0 # Número do banco de dados Redis (Opcional, padrão é 0)
